<nav class="navbar navbar-expand navbar-dark bg-primary mb-4">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="https://icon-library.net/images/poll-icon/poll-icon-11.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
            Pollster
        </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'creator' %}">Creator</a>
            </li>
        </ul>
    </div>
</nav>